body,html{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
}

.section-top{
		width: 100%;
		height: 100%;
		overflow:hidden;
		position: relative;
		background-image: url(signup1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		animation:slide 10s infinite;
}


.content h1{
	position: absolute;
	top:45%;
	left:28%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
}

.content h3{
	position: absolute;
	top:37%;
	left:28%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-size: 60px;
	letter-spacing: 16px;
	
}


@keyframes slide{
0%{
	background-image: url(signup1.jpg);
}
15%{
	background-image: url(signup1.jpg);
}
33%{
	background-image:url(signup2.jpg);
}
45%{
	background-image: url(signup2.jpg);
}
67%{
	background-image:url(signup3.jpg);
}
82%{
	background-image: url(signup3.jpg);
}
}

*{
	margin:0;
	padding:0;
}
body{
}

div.main{
		width: 700px;
		margin: 300px auto 0px auto;
}


h2{
	text-align: center;
	padding: 20px;
	font-family: sans-serif;
}

div.signUP{
	position: absolute;
	top:50%;
	left:77%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.5);
	width= 100%;
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.3);
	box-shadow:2px 2px 15px rgba(0,0,0,0.3);
	color:#fff;	
}

form#signup1{
	margin:40px;
}

label{
	font-family=sans-serif;
	font-size: 18px;
	font-style: italic;
}



input#age{
	
	width:450px;
	border:1px solid #ddd;
	border-radius:3px;
	outline:0;
	padding: 7px;
	background-color:#fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}


input#UserName{
	
	width:450px;
	border:1px solid #ddd;
	border-radius:3px;
	outline:0;
	padding: 7px;
	background-color:#fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#Pass{
	
	width:450px;
	border:1px solid #ddd;
	border-radius:3px;
	outline:0;
	padding: 7px;
	background-color:#fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#Name{
	 
	width:450px;
	border:1px solid #ddd;
	border-radius:3px;
	outline:0;
	padding: 7px;
	background-color:#fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#Weight{
	
	width:450px;
	border:1px solid #ddd;
	border-radius:3px;
	outline:0;
	padding: 7px;
	background-color:#fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}


input#Height2{
	
	width:214px;
	border:1px solid #ddd;
	border-radius:3px;
	outline:0;
	padding: 7px;
	background-color:#fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);	
}

input#submit{
	
	background-color: rgba(30, 139, 195, 1);
	width:467px;
	padding: 7px;
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.3);
	box-shadow:2px 2px 15px rgba(0,0,0,0.3);
	color:#fff;	
	cursor : pointer;
}



label,span,h2{
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
	
	